<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="wea_weather_sun_wrapper">
      <div class="wea_weather_sunrise">
        <h5>
          sunrise
        </h5>  
        <p>
          <%= "#{Time.at(response["sys"]["sunrise"]).strftime("%H:%M %p")}" %>
        </p>
      </div>
      
      <div class="wea_weather_sunset">
        <h5>
          sunset
        </h5>
        <p>
          <%= "#{Time.at(response["sys"]["sunset"]).strftime("%H:%M %p")}" %>
        </p>
      </div>
    </div>
    
    <div class="wea_weather_dir">
      <div class="wea_wind">
        <h4>
          wind status
        </h4>
        <p>
          <%= "#{response["wind"]["speed"]}" %>
          <span>
            Km/h
          </span>
        </p>
      </div>
      
      <div class="wea_wind">
        <h4>
          rain status
        </h4>
        <p>
          <%= "#{@respons["clouds"]["all"]}%" %>
        </p>
      </div>
      
      <div class="wea_wind">
        <h4>
          visibility
        </h4>
        <p>
          <%= "#{response["visibility"]}" %>
          <span>
            m
          </span>
        </p>
    </div>
  </div>
</div>
